@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play&display=swap');

#header {
  width: 100%;
  height: 93px;
  position: relative;

  .header-depth2 {
    min-width: 980px;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    height: 340%;
    background: #f1f2f3;
    z-index: 9;
  }

  .nav {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .logo {
      position: absolute;
      top: 27%;
      left: -6%;
      width: 31%;
      z-index: 9;
    }
  }

  .menu {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 0.8;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
          font-size: 10px;
          font-weight: bold;
          margin: 0 5px;
          position: relative;
          color: #888;

          &:first-child::before {
            display: none;
          }

          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            left: -6px;
            content: "";
            border: 1px solid #ddd;
          }
        }
      }
    }

    .nav-menu {
      flex: 1;
      display: flex;
      width: 100%;
      margin-left: 10px;

      .depth1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        z-index: 99;
        justify-content: space-around;

        &:hover>.depth2 {
          display: block;
        }

        >li {
          margin: 0 20px;
          font-size: 19px;
          font-weight: bold;
          position: relative;
          display: flex;
          justify-content: center;


          &:nth-child(5) {
            width: 15%;
          }

          &:nth-child(6) {
            width: 14%;
          }

          &:first-child::after {
            display: none;
          }

          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            left: -21px;
            content: "";
            border-left: 1px solid #ddd;
          }

          &:hover::before {
            display: block;
          }

          &:hover {
            color: red;
          }


          &::before {
            display: none;
            position: absolute;
            top: -25%;
            width: 0px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            border-top: 5px solid red;
            height: 10px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
        }

        .depth2 {
          width: 100%;
          display: none;
          position: absolute;
          // left: -45%;
          top: 100%;
          height: 340%;
          background: #f1f2f3;

          >div {
            height: 100%;
            position: absolute;
            width: 85%;
            display: flex;
            flex-direction: row;
            margin-left: 9%;
            justify-content: flex-start;

            ul {
              width: 20%;
              position: relative;
              text-align: left;
              padding: 15px 0;

              li {
                font-size: 14px;
                margin: 4px 0;
                letter-spacing: -2.5px;
                text-indent: 8px;
                padding: 2px 0px;

                .icon {
                  transform: translateX(-10px);
                  opacity: 0;
                  color: #fff;
                  font-size: 12px;
                }

                &:hover {
                  background-color: red;

                  .icon {
                    opacity: 1;
                  }
                }

                a {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  span {
                    &:first-child {
                      text-align: left;
                    }
                  }
                }
              }

              &:nth-child(1) {
                width: 13%;

                &::before {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  height: 90%;
                  content: "";
                  border-left: 1px solid #ddd;
                }
              }

              &:nth-child(2) {
                width: 14.7%;

                li {
                  text-indent: 0;

                  &:hover {
                    background: none;
                  }
                }
              }

              &:nth-child(3) {
                width: 14.8%;

                li {
                  text-indent: 0;

                  &:hover {
                    background: none;
                  }
                }
              }

              &:nth-child(4) {
                width: 13%;
              }

              &:nth-child(5) {
                width: 22%;
              }

              &::after {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                height: 90%;
                content: "";
                border-left: 1px solid #ddd;

              }

            }
          }
        }
      }
    }
  }
}

#section {
  background-color: #f1f2f3;

  #art1 {
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;

    .linemap {
      padding: 15px 0;

      ul {
        display: flex;

        >li {
          display: flex;
          margin: 0 5px;
          font-size: 12px;
          color: #66707a;

          &:last-child {
            color: #f00;
            font-weight: bold;
          }
          .linemap-last {
            transform: rotate(90deg);
            width: 12px;
            display: block;
          }
        }
      }
    }

    .title {
      .main {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 10px;
      }

      .sub {
        font-size: 14px;
        font-weight: bold;
        color: #888;
      }
    }

    .selectbox {
      display: flex;
      margin: 2% 0 1%;

      form {
        width: 30%;
        display: flex;

        select {
          width: 100%;
        }
      }

      button {
        margin: 0 10px;
        width: 5%;
        border: 1px solid #888;
      }
    }

    .selectcontents {
      margin-bottom: 5%;
      position: relative;
      >ul {
        li {
          display: none;
          max-width: 724px;
          position: relative;

          &.on {
            display: block;
          }
          .video1 {
            position: absolute;
            top: 71%;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            video {
              width: 100%;
            }
          }
          .video2 {
            position: absolute;
            top: 31%;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            video {
              width: 100%;
            }
          }
        }
      }
    
      .art1-side {
        width: 196px;
        position: absolute;
        top: -2%;
        right: 0;
        border-top-right-radius: 8px;
        h1 {
          background-color: #db2010;
          border-top-right-radius: 8px;
          height: 25px;
          line-height: 1.6em;
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          padding: 0 20px;
        }
        ul {
          background-color: #fff;
          box-shadow: inset 2px 0 5px #888;
          border: 1px solid #ccc;
        }
        .art1-side-slide {
          position: relative;
          button {
            position: absolute;
            top: 80%;
            transform: translateY(-50%);
            z-index: 9;
            width: 16px;
            height: 16px;
            font-size: 11px;
            border-radius: 4px;
            border: none;
            color: #fff;
          }
          .arrleft{
            right: 11%;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: red;
          }
          .arrright{
            right: 4%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: orange;
  
          }
        }
      }
    }
  }
}

#footer {
  background-color: #fff;

  .footer-contents {
    margin: 0 auto;

    // .footer-top {
    //   max-width: 1200px;
    //   height: 40px;
    //   margin: 0 auto;
    //   display: flex;
    //   align-items: center;

    //   .footer-top-left {
    //     flex: 1;

    //     ul {
    //       display: flex;

    //       li {
    //         flex: 1;
    //         position: relative;
    //         font-size: 14px;
    //         display: flex;
    //         align-items: center;

    //         &:nth-child(1) {
    //           font-weight: bold;
    //         }

    //         &:nth-child(1)::after {
    //           content: "";
    //           position: absolute;
    //           top: 30%;
    //           right: 7%;
    //           border: 1px solid #ccc;
    //           height: 40%;

    //         }

    //         &:nth-child(2) {
    //           flex: 1.3;
    //         }

    //         &:nth-child(3) {
    //           display: flex;
    //           flex-direction: row;
    //         }

    //         .goupndown {
    //           display: flex;
    //           flex: 1;
    //           flex-direction: column;
    //           width: auto;
    //           align-items: center;
    //         }
    //       }
    //     }
    //   }

    //   .footer-top-right {
    //     flex: 1.5;
    //     height: 100%;
    //     display: flex;

    //     ul {
    //       display: flex;
    //       width: 100%;

    //       li {
    //         width: 100%;
    //         height: 100%;
    //         margin: 0 5px;
    //         justify-content: space-between;
    //         font-size: 14px;
    //         border-left: 1px solid #ccc;
    //         align-items: center;
    //         padding: 5px;
    //         letter-spacing: -0.1em;
    //         display: flex;
    //         font-weight: bold;

    //         &:last-child {
    //           border-right: 1px solid #ccc;
    //         }
    //       }

    //     }
    //   }
    // }
  }

  .footer-bottom {
    width: 100%;
    height: 103px;
    border-top: 1px solid #ccc;

    div {
      max-width: 1200px;
      margin: 0 auto;
      height: 100%;
      position: relative;

      .f-bottom-left {
        width: 55%;
        padding: 10px 0;
        margin: 0;

        ul {
          display: flex;
          height: 35%;
          align-items: center;
          justify-content: flex-start;

          li {
            font-size: 11px;
            margin: 0 10px;
            font-weight: bold;
            position: relative;
            letter-spacing: -0.1em;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -12px;
              border: 1px solid #888;
              width: 0;
              height: 60%;
            }

            &:last-child::after {
              border: none;
            }
          }
        }

        p {
          font-size: 12px;
        }
      }

      .f-bottom-middle {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 54%;
        align-items: center;
        width: 18%;

        div {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
        }

        .mid-left {
          width: 40%;
          height: 50%;
          display: flex;
          flex-direction: column;

          span {
            margin: 0 1px;
            font-size: 10px;
            border: 1px solid #888;
            width: 13px;
            text-align: center;
          }
        }

        .mid-right {
          position: relative;
          width: 70%;
          margin-left: 10px;
          padding-bottom: 10px;

          .footerslide {
            button {
              border: none;
              position: absolute;
            }

            .arrleft {
              display: block;
              top: 59%;
              left: -42%;
              border: 1px solid #ddd;
              width: 15px;
              height: 15px;
            }

            .arrright {
              display: block;
              top: 59%;
              left: -16%;
              border: 1px solid #ddd;
              width: 15px;
              height: 15px;
            }

            .slick-dots {
              display: none !important;
            }
          }
        }
      }

      .f-bottom-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 60%;
        display: flex;

        .bottom-r-left {
          display: flex;
          align-items: center;

          ul {
            display: flex;

            li {
              margin: 0 10px;
            }
          }
        }

        .bottom-r-right {
          display: flex;
          align-items: center;
          width: 70%;

          form {
            width: 80%;
            margin: 0 auto;

            select {
              width: 100%;
              background-color: #767676;
              font-size: 11px;
              color: #fff;
              padding: 2%;

              option {
                background-color: #767676;
              }
            }
          }
        }
      }
    }
  }
}

